// @import '../../scss-partials/flex-row-contianer';
// @import '../../scss-partials/item-detail-form';

mat-card#page-view{
    max-width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px; 
    
    mat-card-title{   
        // @include flex-container(row);
        align-items: center;
        justify-content: center;
        width: 100%;
        p{
            flex: 1;
        }
        span {}
    }
}

form#item-detail{

}